<p>cad-details works!</p>

<form #cadForm="ngForm" novalidate>
  <div class="form-group">
    <input type="form-control" name="responseCad" [(ngModel)]="cadnumber" ngModel required cadnumber>
  </div>
  <div class="form-group">
  <button [disabled]="cadForm.invalid"
          class="btn btn-default" (click)="submit(cadForm)">Показать</button>

      <form #objInfo="ngForm" novalidate>
        <label>Id</label>
        <input type="text" name="cId" [(ngModel)]="cadEdit.id" >
        <br>
        <label>Хозяйство</label>
        <input type="text" name="cFarm" [(ngModel)]="cadEdit.farm">
        <br>
        <label>Кадастровый номер</label>
        <input type="text" name="cNumber" [(ngModel)]="cadEdit.cadNumber">
        <br>
        <label>Тип собственности</label>
        <input type="text" name="cTypeOwn" [(ngModel)]="cadEdit.typeOwn">
        <br>
        <label>Кад. стоимость</label>
        <input type="text" name="cCadCost" [(ngModel)]="cadEdit.cadCost">
        <br>
        <label>Причина</label>
        <input type="text" name="cCause" [(ngModel)]="cadEdit.cause">
        <br>
        <label>Примечание</label>
        <input type="text" name="cNote1" [(ngModel)]="cadEdit.note1">
        <br>
        <button [disabled]="cadForm.invalid"
                class="btn btn-default" (click)="onEdit(cadEdit)">Редактировать</button>
      </form>

  </div>
</form>







